$tile-color: #858585;
$triangle-border-x: 52px; 
$triangle-border-y: 30px; 
$square-width: $triangle-border-x * 2;
$square-height: $triangle-border-y * 2;
$row-margin: calc($triangle-border-x / 2)*-1;

@mixin hex-tile($triangle-border-x, $triangle-border-y, $square-width, $square-height) {
    display: flex;
    flex-direction: column;
    //margin-left: 3px;
    margin-left: calc($triangle-border-x/17.3);

    user-select: none;

    .triangle {
        width: 0;
        border-left: $triangle-border-x solid transparent;
        border-right: $triangle-border-x solid transparent;
        box-sizing: border-box;
    }

    .upper-triangle {
        @extend .triangle;
        border-bottom: $triangle-border-y solid $tile-color;
    }

    .lower-triangle {
        @extend .triangle;
        border-top: $triangle-border-y solid $tile-color;
    }

    .square {
        width: $square-width;
        height: $square-height;
        background-color: $tile-color;
    }

    &:hover {
        //cursor: pointer;
        filter: brightness(90%);

    }

    /*
    &.attack-hover {
        &:hover {
            cursor: url("./bowie-knife.svg"), auto;
        }
    }

    &.move-hover {
        &:hover {
            cursor: url("./run.svg"), auto;
        }
    }*/

    box-sizing: border-box;
    position: relative;

    .relative-box {
        position: relative;
        width: 0;
        height: 0;
    }

    &.selected {
        .upper-triangle {
            border-bottom: $triangle-border-y solid blue;
        }

        .lower-triangle {
            border-top: $triangle-border-y solid blue;
        }

        .square {
            background-color: blue;
        }

        filter: drop-shadow(0px 0px 5px #4444dd);
    }

    .image img {
        position: absolute;
        z-index: 10;
        width: 60%;
        height: 50%;
        object-fit: cover;
        //overflow: hidden;
        //left: 15%;
        //top: 15%;
        //border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hex-content {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 50%;
    }
}

.hex-tile {
    @include hex-tile($triangle-border-x, $triangle-border-y, $square-width, $square-height);
}

.hex-tile-small {
    @include hex-tile(calc($triangle-border-x / 2), calc($triangle-border-y / 2), calc($square-width / 2), calc($square-height / 2));
}

.hex-tile-medium {
    @include hex-tile($triangle-border-x, $triangle-border-y, $square-width, $square-height);
}


@mixin hex-row($row-margin) {
    margin-bottom: $row-margin;
    display: flex;
    justify-content: center;
}

.hex-row {
    @include hex-row($row-margin)
}

.hex-row-small {
    @include hex-row(calc($row-margin/2))
}

.hex-row-medium {
    @include hex-row($row-margin)
}